<article itemscope itemtype="https://schema.org/BlogPosting">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'article_title' %}
        <h1 itemprop="headline">
          {{ article.title }}
        </h1>
      {% when 'article_author' %}
        {% if section.settings.enable_author %}
          <p itemscope itemtype="https://schema.org/Person">
            <span itemprop="author">{{ article.author }}</span>
          </p>
        {% endif %}

      {% when 'article_publish_date' %}
        {% if section.settings.enable_publish_date %}
          <time itemprop="datePublished dateCreated" datetime="{{ article.published_at | date: '%Y-%m-%d'}}">
            {{- article.published_at | date: '%Y-%m-%d' }}
          </time>
        {% endif %}

      {% when 'article_thumbnail' %}
        <div itemprop="image">
          {% if article.image != blank %}
            <img src="{{ article.image | img_url: 'large' }}" alt="{{ article.image.alt }}">
          {% else %}
            {% assign placeholder_image = 'lifestyle-1' %}
            {{ placeholder_image | placeholder_svg_tag: 'w-full h-96 object-cover object-center p-5' }}
          {% endif %}
        </div>
      {% when 'article_content' %}
        <div itemprop="articleBody">{{ article.content }}</div>

      {% else %}

    {% endcase %}
  {% endfor %}
</article>

{% if blog.comments_enabled? %}
  <div id="comments">
    <h1 class="mt-12">COMMENTS:</h1>
    {% if article.comments_count > 0 %}
      <div class="comments my-6">
        {% paginate article.comments by 2 %}
          {% for comment in article.comments %}
            <div class="comment__item mb-4">
              <h3>{{ comment.author }}</h3>
              <p>{{ comment.created_at | date: format: 'default' }}</p>
              <p>{{ comment.content }}</p>
            </div>
          {% endfor %}
          {% comment %}
            {% if paginate.pages > 1 %}
              {{ paginate | default_pagination }}
            {% endif %}
          {% endcomment %}
          {% render 'pagination', pagination: paginate %}
        {% endpaginate %}
      </div>
    {% else %}
      <p>No comments on this article.</p>
    {% endif %}
  </div>

  <div id="comment-form">
    {% form 'new_comment', article %}
      {% if form.errors %}
        <div class="alert  text-red-500">Something went wrong.</div>
        {% for error in form.errors %}
          <div class="alert  text-red-500">
            {% if error == 'form' %}
              <small>{{ form.errors.messages[error] }}</small>
            {% else %}
              <small> {{ form.errors.translated_fields[error] }} - {{ form.errors.messages[error] }} </small>
            {% endif %}
          </div>
        {% endfor %}
      {% elsif form.posted_successfully? %}
        <div class="alert text-green-500">Successfuly Posted</div>
      {% endif %}
      <div class="mb-6">
        <label for="author">Name</label>
        <input type="text" name="comment[author]" id="author" placeholder="your name" required>
      </div>
      <div class="mb-6">
        <label for="email">Email</label>
        <input type="email" name="comment[email]" id="email" placeholder="your email" required>
        {% if form.errors and form.errors.translated_fields.email %}
          {{ form.errors.translated_fields.email }} -
          {{ form.errors.messages.email }}
        {% endif %}
      </div>
      <div class="mb-6">
        <label for="comment">Comment</label>
        <textarea name="comment[body]" id="comment" placeholder="your comment" required></textarea>
      </div>
      <div class="mb-6">
        <input type="submit" value="Post Comment">
      </div>
    {% endform %}
  </div>
{% endif %}

<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "headline": {{ article.title | json }},
      "articleBody": {{ article.content | strip_html | json }},
      {% if article.excerpt != blank %}
          "description": {{ article.excerpt | strip_html | json }},
      {% endif %}
      {% if article.image %}
          "image": [
              {{ article.image | img_url: "medium" | prepend: "https:" | json }}
          ],
      {% endif %}
      "datePublished": {{ article.published_at | date: format: 'default' | json }},
      "dateCreated": {{ article.created_at | date: format: 'default' | json }},
      "author": {
        "@type": "Person",
        "name": {{ article.author | json }}
       },
       "publisher": {
            "@type": "Organization",
            "name": {{ shop.name | json }}
        }
  }
</script>

{% schema %}
{
  "name": "Template article",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_author",
      "label": "Display author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_publish_date",
      "label": "Display publish date",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Author",
      "limit": 1
    },
    {
      "type": "article_publish_date",
      "name": "Publish Date",
      "limit": 1
    },
    {
      "type": "article_thumbnail",
      "name": "Featured Image",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{% endschema %}
